<form>
  <div class="form-group">
    <label>Nome do Produto</label>
    <input class="form-control" name="nome" type="text" size="50" pInputText [(ngModel)]="produto.nome">
  </div>
  <div class="form-group">
    <label>Unidade de Medida</label>
    <p-dropdown class="list-group" [options]="unidadesMedida" name="unidadesMedida" [(ngModel)]="produto.unidadeMedida"></p-dropdown>
  </div>
  <div class="form-group">
    <label>Quantidade</label>
    <input class="form-control" name="quantidade" type="number" pInputText [(ngModel)]="produto.quantidade">
  </div>
  <div class="form-group">
    <label>Preço</label>
    <input class="form-control" name="preco" type="number" pInputText [(ngModel)]="produto.preco">
  </div>
  <div class="form-group">
      <p-checkbox name="ehPerecivel" label="Produto Perecível?" [(ngModel)]="produto.ehPerecivel" binary="true"></p-checkbox>
  </div>
  <div class="form-group">
    <label>Data de Validade</label>
    <p-calendar class="form-date" dateFormat="dd/mm/yy" name="dataValidade" [(ngModel)]="produto.dataValidade"></p-calendar>
  </div>
  <div class="form-group">
    <label>Data de Fabricação</label>
    <p-calendar class="form-date" dateFormat="dd/mm/yy" name="dataFabricacao" [(ngModel)]="produto.dataFabricacao"></p-calendar>
  </div>

  <p-button class="botoes" styleClass="ui-button-success" (click)='salvar()' label="Salvar"></p-button>
  <p-button class="botoes" styleClass="ui-button-info botoes" (click)='cancelar()' label="Cancelar"></p-button>
</form>

<p-toast position="center"></p-toast>